<div class="booklist">
    <!-- MENS BOOK -->
            <div class="men_book">
                <div class="booklist_image">
                    <img src="../img/book1.webp" alt="">
                </div>
                <div class="book_description">
                    <h2 class="book_header_first"><strong>MEN'S</strong></h2>
                    <h2 class="book_header_second">LOOKBOOK</h2>
                    <p>Lorem ipsum dolor sit amet eras facilisis
                        consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.
                        Elementum metus facilisis ut phasellu.
                        </p>
                    <a class="button" href="#">VIEW NOW</a>
                </div>
            </div>
        <!-- END -->
    <!-- WOMENS BOOK -->
            <div class="women_book">
                <div class="booklist_image">
                    <img src="../img/book2.webp" alt="">
                </div>
                <div class="book_description">
                    <h2  class="book_header_first"><strong>WOMEN'S</strong></h2>
                    <h2 class="book_header_second">LOOKBOOK</h2>
                    <p>Lorem ipsum dolor sit amet eras facilisis
                        consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.
                        Elementum metus facilisis ut phasellu.
                        </p>
                    <a class="button" href="#">VIEW NOW</a>
                </div>
            </div>
        <!-- END -->
    <!-- YOUR BOOK -->
            <div class="your_book">
                <div class="booklist_image">
                    <img src="../img/book3.webp" alt="">
                </div>
                <div class="book_description">
                    <h2 class="book_header_first"><strong>YOUR</strong></h2>
                    <h2 class="book_header_second">LOOKBOOK</h2>
                    <p>Lorem ipsum dolor sit amet eras facilisis
                        consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.
                        Elementum metus facilisis ut phasellu.
                        </p>
                    <a class="button" href="#">VIEW NOW</a>
                </div>
            </div>
        <!-- END -->
        </div>