<div class="footer">
    <div class="footer_container">
        <div class="footer_links">
            <div class="informations">
                <h5>INFORMATION</h5>
                <ul>
                    <li><a href="#">The brand</a></li>
                    <li><a href="#">Local stores</a></li>
                    <li><a href="#">Customer service</a></li>
                    <li><a href="#">Privacy & cookies</a></li>
                    <li><a href="#">Site map</a></li>
                </ul>
            </div>
            <div class="why_buy_from_us">
                <h5>WHY BUY FROM US</h5>
                <ul>
                    <li><a href="#">Shipping & returns</a></li>
                    <li><a href="#">Secure shopping</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Award winning</a></li>
                    <li><a href="#">Ethical trading</a></li>
                </ul>
            </div>
            <div class="your_account">
                <h5>YOUR ACCOUNT</h5>
                <ul>
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">View cart</a></li>
                    <li><a href="#">View your lookbook</a></li>
                    <li><a href="#">Track an order</a></li>
                    <li><a href="#">Update information</a></li>
                </ul>
            </div>
        
            <div class="look_book">
                <h5>LOOKBOOK</h5>
                <ul>
                    <li><a href="#">Latest posts</a></li>
                    <li><a href="#">Men’s lookbook</a></li>
                    <li><a href="#">Women’s lookbook</a></li>
                    <li><a href="#">Lookbooks RSS feed</a></li>
                    <li><a href="#">View your lookbook</a></li>
                    <li><a href="#">Delete your lookbook</a></li>
                </ul>
            </div>
            <div class="contact_details">
                <h5>CONTACT DETAILS</h5>
                <ul>
                    <li>Head Office: Avenue Fashion, 
                        180-182 Regent Street, London.</li>
                    <li>Telephone: 0123-456-789</li>
                    <li>Email: support@yourwebsite.com</li>
                </ul>
            </div>
        </div>
        <div class="footer_networks">
            <div class="award">
                <h1>AWARD WINNER</h1>
                <h1>FASHION AWARDS 2016</h1>
            </div>
            <div class="icons">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="copyright">
    <div class="copyright_container">
        <p>© 2016 Avenue Fashion™</p>
        <p>Designed by Vusal Dadashov</p>
    </div>
</div>

<script src="/js/home.js"></script>