<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVENUE FASHION</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/brand.css">
    <link rel="stylesheet" href="css/responsive/headermobile.css">
    <link rel="stylesheet" href="css/responsive/footermobile.css">
    <link rel="stylesheet" href="css/responsive/brandmobile.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/0a81482c91.js" crossorigin="anonymous"></script>
</head>
<body>
<!--Head bar currency and cart-->
    <%- include('partials/header.ejs') %>
<!-- BODY -->
    <div class="body">
        <div class="body_part1">
            <div class="brandbodyimg1"><img src="img/brandbody1.webp" alt=""></div>
            <div class="brandbodyimg2"><img src="img/brandbody2.webp" alt=""></div>
            <div class="brand_description">
                <h5>Our values, vision and strategy</h5>
                <p class="title_first_child">The above image would be a great place for an advertising video</p>
                <p class="title_last_child">Cras maximus venenatis malesuada. Nulla sagittis elit felis, ac facilisis quam ornare aliquam. 
                    Etiam cursus odio vitae dui dignissim, sed tempus lacus tincidunt et donec sapien velit,
                     rhoncus eu nulla a, molestie tempus mi maecenas sagittis ornare.
                    Pellentesque sapien mi,<a href="#" class="body_link">tincidunt nec magna vitae</a> , volutpat elementum odioni lorem Aliquam 
                    tempor massa vitae augue mattis tempor id in ante ut augue erat, luctus eil.
                </p>
            </div>
        </div>
        <div class="body_part2">
            <div class="brand_description">
                <h5>Hand designed clothing</h5>
                <p class="title_first_child">Established in 2013, avenue fashion Sed dictum elit vel sapien luctus eras</p>
                <p class="title_last_child">Praesent feugiat malesuada tristique maecenas rhoncus diam eget quam vestibulim consectetur, 
                    id condimentum leo porttitor. Cum sociis natoque penatibus eta magnis disut parturient montes, 
                    nascetur ridiculus mus. Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse congue metus nunc,
                     id viverra elit loreti rhoncus quis consecteur es. Donec pulvinar tempor lorem a pretium justo interdum.
                </p>
            </div>
            <div class="brandbodyimg3">
                <img src="img/brandbody3.webp" alt="">
            </div>
            <div class="brand_description">
                <h5>Ethical Trading</h5>
                <p class="title_first_child">We oversee the working conditions of the people in the supply chain</p>
                <p class="title_last_child">Nullam dapibus consectetur neque, 
                    faucibus porttitor purus iaculis sed. Aenean eras dapibus augue, 
                    eget dignissim dui maecenas et rhoncus mim, vel semper arcu lorem
                    Pellentesque congue justo esteir pellentesque aliquet massa eget posuere tincidunt.
                     Cras viverra ullamcorper nunc accumsan hendrerit. 
                     <a href="#" class="body_link">A link </a>
                </p>
            </div>
            <div>
                <img src="img/brandbody4.webp" alt="">
            </div>
        </div>
    </div>

    <!-- FOOTER OF WEBSITE-->
    <%- include('partials/footer.ejs') %>
       
    
</body>
</html>